/* colors */

/*
60% of 	#fff6e7 - primary
30% of 	#b7f9ff - secondary
10% of	#ebffe7 - accent
*/

:root {

/* var(--dominantColor) !important; */
--dominantColor: #fff6e7;

/* var(--secondaryColor) !important; */
--secondaryColor: #A15C23;

/* var(--accentColor) !important; */
--accesntColor: #3486CB;

}