@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import 'global.css';
@import 'main.css';

.fa-row{
    background-color: var(--dominantColor) !important;
    padding: 35px;
}

.fa-row-icon {
    font-size: 60px;
    color: #3486CB;
}

.fa-row-icon:hover {
    transform: scale(1.1);
}

.first-paragraph-div{
    position: relative;
    background-color: #ffffff;
    color:black;
    font-weight: normal;
    font-size: 16px;
    padding: 20px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 18px;
    font-family: "Playwrite DE Grund", cursive;
    margin-left: auto;
    margin-right: auto;
}

/*table styles */
.content-table{
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center; 
  }
  
  .content-table th, .content-table td{
    padding: 20px;
  }
  
  .content-table thead tr{
    border-bottom: 1px solid #dddddd;
    background-color: #fda521;
  }
  
  .content-table tbody tr{
    border-bottom: 1px solid #033043;
    background-color: #e9e3d5;
  }
  
  .content-table tbody tr:nth-of-type(even){
    background-color: #0a7273;
  }
  
  .content-table tbody tr:last-of-type{
    border-bottom: 3px solid #033043;
  }
  
  .content-table tbody tr td:first-of-type{
  background-color: #e9e3d5;
    text-align: right;
    border-right:  1px solid #033043;
  }

  .duck-list{
    background-color: #e9e3d5;
    padding-top: 30px;
    padding-bottom: 30px;
  }